.ant-rate-star {
  margin-inline-end: 3px !important;
}

.ant-card-body {
  padding: 0px !important;
}

.card {
  display: flex;
  max-width: 454px;
  max-height: 281px;
  padding: 0 !important;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.card-content {
  display: flex;
  height: 275px;
}

.card-image {
  width: 183px;
  height: auto;
  padding: 4px 0px 4px 4px;
  border-radius: 8px;
}

.card-info {
  display: flex;
  flex-direction: column;
  width: 270px;
}

.card-title {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
  padding: 12px 9px 0px 20px;
  font-size: 12px;
  overflow: hidden;
}

.card-title h3 {
  max-height: 48px;
  margin: 0px;
  display: flex;
  overflow: hidden;
  position: relative;
  z-index: 1;
  align-items: center;
}

.card-rating {
  margin: 0px;
  padding-top: 5px;
  padding-left: 20px;
  font-size: 12px;
}

.card-genre {
  margin: 0px;
  padding-top: 5px;
  padding-left: 20px;
  font-size: 12px;
}

.card-description {
  margin: 0px;
  padding-left: 20px;
  padding-top: 5px;
  display: flex;
  flex-shrink: 1;
  width: 228px;
  height: 129px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.stars-rating {
  background-color: transparent;
  position: absolute;
  bottom: 15px;
  padding-left: 20px;
  display: flex;
  font-size: 20px;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

@media (max-width: 502px) {
  .ant-rate-star {
    margin-inline-end: 2px !important;
  }

  .ant-card-body {
    padding: 0px !important;
  }

  .card {
    display: flex;
    max-width: 387px;
    max-height: 245px;
    padding: 0 !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  .card-content {
    display: flex;
    height: 245px;
  }

  .card-image {
    width: auto;
    height: 45%;
    padding: 4px 0px 0px 4px;
    border-radius: 8px;
    object-fit: contain;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    /* width: 80%; */
  }

  .card-title {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
    padding: 12px 9px 0px 20px;
    font-size: 12px;
    overflow: hidden;
  }

  .card-title h3 {
    max-height: 48px;
    margin: 0px;
    display: flex;
    overflow: hidden;
    position: relative;
    z-index: 1;
    align-items: center;
  }

  .card-rating {
    margin: 0px;
    padding-top: 5px;
    padding-left: 20px;
    font-size: 12px;
  }

  .card-genre {
    margin: 0px;
    padding-top: 5px;
    padding-left: 20px;
    font-size: 12px;
  }

  .card-description {
    margin: 0px;
    padding-left: 20px;
    padding-top: 5px;
    display: flex;
    flex-shrink: 1;
    width: 350px;
    position: relative;
    right: 85px;
    /* height: 129px; */
    overflow: hidden;
    /* text-overflow: ellipsis; */
    font-size: 12px;
  }

  .stars-rating {
    background-color: transparent;
    position: absolute;
    bottom: 15px;
    padding-left: 65px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    font-size: 17px;
  }
}
