body {
  margin: 0px auto;
  width: 1100px;
}

.ant-layout {
  background-color: transparent;
}
.searchform {
  padding: 0px 30px 0px 30px;
}

.app-header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 0px auto;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  justify-items: center; /* Выравнивание элементов по горизонтали */
  align-items: center;
}

.app-footer {
  background-color: transparent;
  text-align: center;
  margin: 0px auto;
}
